<div class="jumbotron center">
	<h1>About us</h1>
	<p>Instant languange interpreting service on your smart phone for 2 to 10K users!</p>
	<%= link_to "log in", "#", class: "btn btn-primary" %>
	<%= link_to "sign up", "#", class: "btn btn-primary" %>
</div>