<div class="jumbotron">
	<h1>About us</h1>
	<p>Instant languange interpreting service on your smart phone for 2 to 10K users!</p>
	<p>Click here to <%= link_to "log in", "#", class: "btn btn-primary" %></p>
	<p>Register to become a member <%= link_to "here", "#", class: "btn btn-primary" %></p>
</div>